<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl" version="1.1.7" targetFramework="net40-Client" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net40-Client" />
  <package id="Microsoft.Net.Http" version="2.2.18" targetFramework="net40-Client" />
  <package id="Newtonsoft.Json" version="5.0.8" targetFramework="net40-Client" />
  <package id="Unirest-API" version="1.0.5.0-beta" targetFramework="net40-Client" />
</packages>